<div class="wrapperServices2">
  <div id="lineBehind"></div>
  <h2>Previous Contracts</h2>
</div>
<div class="wrapperServices">
  <div>
    <ul>
      <li>
        <i class="fa-solid fa-minus"></i>Recipe description writing and editing
      </li>
      <li>
        <i class="fa-solid fa-minus"></i>
        Academic and writing support for students with learning differences
      </li>
      <li>
        <i class="fa-solid fa-minus"></i>Updating content in chemical industry
        toxicology textbooks
      </li>
      <li>
        <i class="fa-solid fa-minus"></i>Editing biorepository website content
      </li>
      <li>
        <i class="fa-solid fa-minus"></i> Writing and editing publicity
        materials for biotechnology companies
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <i class="fa-solid fa-minus"></i>Quality control editing academic
        writing for journal publication
      </li>
      <li>
        <i class="fa-solid fa-minus"></i>Health and nutrition articles for
        people managing chronic illness
      </li>
      <li>
        <i class="fa-solid fa-minus"></i>Updating content in chemical industry
        toxicology textbooks
      </li>
      <li><i class="fa-solid fa-minus"></i>Web content guidance</li>
      <i class="fa-solid fa-minus"></i>
      <li>
        <i class="fa-solid fa-minus"></i>Product descriptions for food and
        nutrition businesses
      </li>
    </ul>
  </div>
</div>
