<div class="wrapperServices2">
  <div id="lineBehind"></div>
  <h2>About</h2>
</div>
<div class="wrapperServices">
  <div>
    <p>
      Abigail completed her Neuroscience BSc in 2016, her Brain Sciences MSc in
      2018, and her Nutrition & Behaviour MSc in 2021. She is also a published
      and award-winning creative writer specialising in poetry and short
      stories.
    </p>
    <p>
      In 2021 Abigail launched Walker Clarity to combine her academic
      credentials with creative and communicative writing, building a client
      base including large biotechnology companies, start-up food brands, and
      online health resources.
    </p>
  </div>
  <div>
    <img src="assets/images/headshot.jpg" alt="" />
  </div>
</div>
