<div class="wrapperServices2">
  <div id="lineBehind"></div>
  <h2>Services</h2>
</div>
<div class="wrapperServices">
  <div>
    <ul>
      <li><i class="fa-solid fa-minus"></i>Copy writing and editing</li>
      <li><i class="fa-solid fa-minus"></i>Quality control editing</li>
      <li><i class="fa-solid fa-minus"></i>Proof reading</li>
      <li><i class="fa-solid fa-minus"></i>Article writing</li>
      <li><i class="fa-solid fa-minus"></i>Web content guidance</li>
      <li><i class="fa-solid fa-minus"></i>Academic writing</li>
      <li>
        <i class="fa-solid fa-minus"></i>Short and long term project
        capabilities
      </li>
    </ul>
  </div>
</div>
